*{
    margin:0 auto;
    padding:0;
}
#slider{
    width:100%;
    overflow: hidden;
    white-space: nowrap;
}
#slider-content{
    display:inline-block;
    width:500%;
    /*margin-left:0;*/
}
/*.slider-img:last-child::after{
    clear:both;
}*/
.slider-img{
    float:left;
}
